body{
    background-color: rgb(201, 76, 226);
    font-family: 'JetBrains Mono';
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    font-family:'Comic neue';
    height: 100vh;
}
p{
    text-align: justify;
}
.container{
    display: flex;
    flex-direction: row;
    gap: 100px;
}
.left{
    background-color: #9150e6;
    width: 100%;
    color: #d490fc;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 20px 0 20px;
    font-size: 14px;
    padding: 20px;
}
.right{
    background-color: #9150e6;
    width: 100%;
    color: #d490fc;
    display: flex;
    align-items: center;
    border-radius: 20px 0 20px 0;
    font-size: 14px;
    justify-content: center;
    padding: 20px;
}
.footer{
    width: 100%;
    background-color: #9150e6;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    border-radius: 20px;
    margin-bottom: 20px;
}

.footer:hover{
    background-color: rgb(224, 131, 243);
    transition:all 2s;
}

.button{
    text-decoration: none;
    background-color: #9150e6;
    color: #d490fc;
    padding: 20px;
    border-radius: 20px;    
    cursor: pointer;
}

.button:hover{
    transform: scale(1.5) rotate(720deg);
    transition: all 2s;
}

.titulo{
    font-size: 70px;
    font-weight: 600;
    background-image: linear-gradient(to left, #862fb8, #a97bbd, #862fb8) ;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}


.a:link{
    color: state gray;
}

.external:link{
    background-color:lightblue;
}

.menu ul li:hover{
    
}